{% extends "base.html.twig" %}

{% block body %}
    <div class="bg-light bg-opacity-25 p-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, aspernatur consectetur debitis deleniti
        ex fuga incidunt iste itaque, magnam minima odio possimus quod repellendus repudiandae, saepe similique sunt
        unde.
    </div>
{% endblock %}
